
$colorPrincipal: #ff3345;
$colorSecundario:#66182a;
$colorGris:#6e6e6e;

$md-main: (
    50 : #ffe7e9,
    100 : #ffc2c7,
    200 : #ff99a2,
    300 : #ff707d,
    400 : #ff5261,
    500 : #ff3345,
    600 : #ff2e3e,
    700 : #ff2736,
    800 : #ff202e,
    900 : #ff141f,
    A100 : #ffffff,
    A200 : #fffbfb,
    A400 : #ffc8ca,
    A700 : #ffaeb1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$md-secundary: (
    50 : #ede3e5,
    100 : #d1babf,
    200 : #b38c95,
    300 : #945d6a,
    400 : #7d3b4a,
    500 : #66182a,
    600 : #5e1525,
    700 : #53111f,
    800 : #490e19,
    900 : #38080f,
    A100 : #ff707f,
    A200 : #ff3d52,
    A400 : #ff0a24,
    A700 : #f00019,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);